
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
