$colorOfNavigation: #5B605F;                /*panel boczny, nawigacja*/
$colorOfHeaderAndColumns: #4a4a49;          /*nagłówek, kolor tekstu w kolumnach*/
$colorOfButtons: #FF6600;                   /*przyciski, wyróżnienia, nagłówki ekranów*/
$colorOfBackground: #FFFFFA;                /*kolor tła ekranów*/
$colorOfInfo: #3498DB;                      /*kolor wiadomości typu info*/
$colorOfWarning: #FFB03B;                   /*kolor wiadomości typu warning*/
$colorOfSuccess: #468966;                     /*kolor wiadomości typu success*/
$colorOfBasket: #BD4932;                    /* kolor ikony kosza*/
$colorOfRow: #A1A194;                       /*kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji*/

//LOGO colors
$colorsOfLogoFirstPart: white;            /* kolor "Zaplanuj" */
$colorOfLogoSecondPart: #E58A20;          /* "jedzonko"*/