.landingPage__CtA {
  width: 100%;
  color: $colorsOfLogoFirstPart;
  background-color: $colorOfHeaderAndColumns;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .landingPage__CtA-text {
    max-width: 60%;
    padding: 30px 0;
  }

  .landingPage__CtA-header {
    font-size: 36px;
    font-family: "Arial";
    margin-bottom: 20px;
  }
  .landingPage__CtA-paragraph {
    font-family: "Arial", "sans-serif";
    font-size: 24px;
  }
  .landingPage__CtA-btn {
    font-family: "Arial", "sans-serif";
    display: inline-block;
    background-color: $colorOfButtons;
    font-size: 20px;
    width: 218px;
    height: 55px;
    color: $colorsOfLogoFirstPart;
    text-decoration: none;
    text-align: center;
    line-height: 55px;
  }
}
